/* App.css */
.app-container {
  display: flex;
  min-height: 100vh;
  background-color: #f7f9fc;
  font-family: 'Poppins', sans-serif;
}

.main-content {
  flex: 1;
  padding: 20px 40px;
  margin-left: 240px; /* Adjust based on sidebar width */
  box-sizing: border-box;
  overflow-x: hidden;
}
